<div id="eyeMask" class="svg-container">
	<svg version="1.1" id="eye1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												viewBox="0 0 612 468.672" enable-background="new 0 0 612 468.672" xml:space="preserve">
									 <g id="Eye_x5F_1">
											 <g>
													 <g>
															 <path id="XMLID_2_" fill="#FFFFFF" d="M306,85.898c-124.103,0-234.58,57.914-306.122,148.438
																	 C71.177,324.857,181.897,382.773,306,382.773c124.104,0,234.58-57.915,306.121-148.438C540.58,143.812,430.104,85.898,306,85.898
																	 z"/>
													 </g>
													 <g>
															 <g>
																	 <g>
																			 <defs>
																					 <path id="SVGID_1_" d="M306,85.898c-124.103,0-234.58,57.914-306.122,148.438C71.177,324.857,181.897,382.773,306,382.773
																							 c124.104,0,234.58-57.915,306.121-148.438C540.58,143.812,430.104,85.898,306,85.898z"/>
																			 </defs>
																			 <clipPath id="SVGID_2_">
																					 <use xlink:href="#SVGID_1_"  overflow="visible"/>
																			 </clipPath>

																					 <defs>
																							 <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="-434.2339" y1="683.4004" x2="-386.9884" y2="683.4004" gradientTransform="matrix(-2.4334 0 0 2.4334 -948.9859 -1421.8389)">
																								 <stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0"/>
																								 <stop  offset="1" style="stop-color:#4CA0FF"/>
																							</linearGradient>
																					 </defs>
																			 <polygon clip-path="url(#SVGID_2_)" fill="url(#SVGID_3_)" points="-7.421,115.343 107.678,115.343 107.678,366.956
																					 -7.421,366.956 					"/>
																	 </g>
															 </g>
													 </g>
													 <g>
															 <g>
																	 <g>
																			 <defs>
																					 <path id="SVGID_4_" d="M306,85.898c-124.103,0-234.58,57.914-306.122,148.438C71.177,324.857,181.897,382.773,306,382.773
																							 c124.104,0,234.58-57.915,306.121-148.438C540.58,143.812,430.104,85.898,306,85.898z"/>
																			 </defs>
																			 <clipPath id="SVGID_5_">
																					 <use xlink:href="#SVGID_4_"  overflow="visible"/>
																			 </clipPath>
																			 		<defs>
																					 <linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="-483.251" y1="701.4512" x2="-436.0518" y2="701.4512" gradientTransform="matrix(2.4334 0 0 -2.4334 1681.7241 1948.0615)">
																						 <stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0"/>
																						 <stop  offset="1" style="stop-color:#4CA0FF"/>
																			 		</linearGradient>
																			 </defs>
																			 <rect x="505.781" y="115.343" clip-path="url(#SVGID_5_)" fill="url(#SVGID_6_)" width="114.854" height="251.613"/>
																	 </g>
															 </g>
													 </g>
											 </g>
											 <g>
													 <g>
															 <circle id="XMLID_1_" fill="#4CA0FF" cx="306" cy="234.336" r="109.503"/>
													 </g>
													 <g>
															 <g>
																	 <g>
																			 <defs>
																					 <circle id="SVGID_7_" cx="306" cy="234.336" r="109.503"/>
																			 </defs>
																			 <clipPath id="SVGID_8_">
																					 <use xlink:href="#SVGID_7_"  overflow="visible"/>
																			 </clipPath>
																			 	<defs>
																					 <linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="-205.2959" y1="707.2031" x2="-147.3955" y2="707.2031" gradientTransform="matrix(2.4334 0 0 -2.4334 664.6734 1948.0615)">
																						 <stop  offset="0" style="stop-color:#4CA0FF;stop-opacity:0"/>
																						 <stop  offset="1" style="stop-color:#000000"/>
																			 		</linearGradient>
																		 		</defs>
																					 <rect x="165.106" y="61.32" opacity="0.33" clip-path="url(#SVGID_8_)" fill="url(#SVGID_9_)" enable-background="new    " width="140.894" height="331.672"/>
																	 </g>
															 </g>
													 </g>
											 </g>
											 <g>
													 <g>
															 <circle id="XMLID_3_" cx="306" cy="234.335" r="44.775"/>
													 </g>
													 <g>
															 <g>
																	 <g>
																			 <defs>
																					 <circle id="SVGID_10_" cx="306" cy="234.335" r="44.775"/>
																			 </defs>
																			 <clipPath id="SVGID_11_">
																					 <use xlink:href="#SVGID_10_"  overflow="visible"/>
																			 </clipPath>
																			 <polygon clip-path="url(#SVGID_11_)" fill="#FFFFFF" points="306,189.562 306,233.119 349.559,189.562 					"/>
																	 </g>
															 </g>
													 </g>
											 </g>
											 <line fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" x1="306" y1="163.037" x2="306" y2="125.319"/>

													 <line fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" x1="270.229" y1="172.527" x2="251.249" y2="139.919"/>
											 <line fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" x1="243.948" y1="198.564" x2="211.34" y2="179.827"/>
											 <line fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" x1="234.458" y1="234.336" x2="196.74" y2="234.336"/>
											 <line fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" x1="243.948" y1="270.105" x2="211.34" y2="288.844"/>

													 <line fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" x1="270.229" y1="296.145" x2="251.249" y2="328.752"/>
											 <line fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" x1="306" y1="305.634" x2="306" y2="343.352"/>

													 <line fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" x1="341.527" y1="296.145" x2="360.508" y2="328.752"/>

													 <line fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" x1="367.809" y1="270.105" x2="400.416" y2="288.844"/>

													 <line fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" x1="377.299" y1="234.336" x2="415.016" y2="234.336"/>

													 <line fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" x1="367.809" y1="198.564" x2="400.416" y2="179.827"/>

													 <line fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" x1="341.527" y1="172.527" x2="360.508" y2="139.919"/>
									 </g>
								 </svg>


					 <div id="toBeMasked">
					 <!-- eye to be hide -->
								<svg version="1.1" id="eye2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 612 468.672" enable-background="new 0 0 612 468.672" xml:space="preserve">
					 <g id="Eye_x5F_2">
							 <g>
									 <g>
											 <path id="XMLID_5_" fill="#4CA0FF" d="M306,85.898c-124.103,0-234.58,57.914-306.122,148.438
													 C71.177,324.857,181.897,382.773,306,382.773c124.104,0,234.58-57.916,306.121-148.438C540.58,143.812,430.104,85.898,306,85.898
													 z"/>
									 </g>
							 </g>

									 <line fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" x1="139.798" y1="293.223" x2="139.798" y2="170.823"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="139.798" cy="175.447" r="7.787"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="139.798" cy="293.223" r="7.787"/>

									 <line fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" x1="210.854" y1="317.557" x2="210.854" y2="146.489"/>
							 <circle stroke="#000000" stroke-width="15" stroke-miterlimit="10" cx="210.854" cy="151.113" r="7.787"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="210.854" cy="317.557" r="7.787"/>
							 <line fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" x1="281.91" y1="341.891" x2="281.91" y2="122.155"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="281.91" cy="126.78" r="7.787"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="281.91" cy="341.891" r="7.787"/>

									 <line fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" x1="352.965" y1="341.891" x2="352.965" y2="122.155"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="352.965" cy="234.335" r="7.786"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="352.965" cy="126.78" r="7.787"/>
							 <circle stroke="#000000" stroke-width="15" stroke-miterlimit="10" cx="352.965" cy="180.558" r="7.787"/>
							 <circle stroke="#000000" stroke-width="15" stroke-miterlimit="10" cx="352.965" cy="288.113" r="7.787"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="352.965" cy="341.891" r="7.787"/>

									 <line fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" x1="424.264" y1="317.557" x2="424.264" y2="146.489"/>
							 <circle stroke="#000000" stroke-width="15" stroke-miterlimit="10" cx="424.264" cy="151.113" r="7.787"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="424.264" cy="317.557" r="7.787"/>

									 <line fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" x1="495.318" y1="293.223" x2="495.318" y2="170.823"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="495.318" cy="175.447" r="7.787"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="495.318" cy="293.223" r="7.787"/>
							 <circle stroke="#000000" stroke-width="15" stroke-miterlimit="10" cx="139.798" cy="234.579" r="7.786"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="210.854" cy="234.579" r="7.786"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="281.91" cy="234.579" r="7.786"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="424.264" cy="234.579" r="7.786"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="495.318" cy="234.579" r="7.786"/>
							 <circle stroke="#000000" stroke-width="15" stroke-miterlimit="10" cx="551.775" cy="234.579" r="7.786"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="68.744" cy="234.579" r="7.786"/>
							 <circle fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" cx="281.91" cy="180.558" r="7.787"/>
							 <circle stroke="#000000" stroke-width="15" stroke-miterlimit="10" cx="281.91" cy="288.113" r="7.787"/>
					 </g>
					 </svg>

					 </div>
						<div id="scanWrapper">
							 <img src="../images/scan.png" id="scaner_1">
						</div>
</div>
