<div id="face1_wrapper" class="svg-container">
  <svg version="1.1" id="face1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 109.581 109.58" enable-background="new 0 0 109.581 109.58" xml:space="preserve">
      <g id="Face">
          <path fill="#86dafb" d="M109.581,54.79c0,14.881-5.931,28.381-15.57,38.25c-9.76,10.011-23.32,16.301-38.36,16.53
      c-0.28,0.01-0.569,0.01-0.86,0.01c-15.229,0-29.01-6.21-38.93-16.25C6.05,83.44,0,69.82,0,54.79C0,24.53,24.53,0,54.79,0
      S109.581,24.53,109.581,54.79z" />
          <path fill="#9DDFFC" d="M55.65,72.48v37.09c-0.28,0.01-0.569,0.01-0.86,0.01c-15.229,0-29.01-6.21-38.93-16.25L41.65,88V72.48
      H55.65z" />
          <path fill="#AFE6FD" d="M94.01,93.04c-9.76,10.011-23.32,16.301-38.36,16.53V72.48h14V88L94.01,93.04z" />
          <g>
              <path fill="#FFFFFF" d="M80.65,56.235c0,13.626-11.162,24.245-24.788,24.245h-0.115c-13.626,0-25.097-10.619-25.097-24.245V39.461
          c0-12.608,10.645-22.98,23.252-22.98h3.805c12.606,0,22.943,10.372,22.943,22.98V56.235z" />
              <path fill="#FFFFFF" d="M80.65,54.658c1,0,2-1.074,2-2.4V43.48h-2V54.658z" />
              <path fill="#FFFFFF" d="M28.65,52.258c0,1.326,1,2.401,2,2.401V43.48h-2V52.258z" />
          </g>
          <line fill="none" stroke="#86dafb" stroke-width="1.699" stroke-miterlimit="10" x1="55.65" y1="92.537" x2="55.65" y2="98.523" />
          <path fill="#86dafb" d="M44.302,57.686c0-0.555-0.45-1.006-1.006-1.006c-0.555,0-1.005,0.451-1.005,1.006s0.45,1.006,1.005,1.006
      C43.852,58.691,44.302,58.24,44.302,57.686" />
          <path fill="#86dafb" d="M69.321,57.686c0-0.555-0.45-1.006-1.006-1.006c-0.555,0-1.006,0.451-1.006,1.006s0.451,1.006,1.006,1.006
      C68.871,58.691,69.321,58.24,69.321,57.686" />
          <path fill="#86dafb" d="M56.922,40.435c0-0.556-0.451-1.006-1.007-1.006c-0.555,0-1.005,0.45-1.005,1.006
      c0,0.555,0.45,1.006,1.005,1.006C56.471,41.44,56.922,40.989,56.922,40.435" />
          <path fill="#86dafb" d="M44.302,68.05c0-0.555-0.45-1.006-1.006-1.006c-0.555,0-1.005,0.451-1.005,1.006
      c0,0.556,0.45,1.006,1.005,1.006C43.852,69.056,44.302,68.605,44.302,68.05" />
          <path fill="#86dafb" d="M69.321,68.05c0-0.555-0.45-1.006-1.006-1.006c-0.555,0-1.006,0.451-1.006,1.006
      c0,0.556,0.451,1.006,1.006,1.006C68.871,69.056,69.321,68.605,69.321,68.05" />
      </g>
      <g id="Lines">
          <g id="Horizontal_f1">
              <line fill="none" stroke="#86dafb" stroke-width="0.69" stroke-miterlimit="10" x1="81.203" y1="40.59" x2="80.858" y2="40.59" />

              <line fill="none" stroke="#86dafb" stroke-width="0.69" stroke-miterlimit="10" stroke-dasharray="0.693,1.039" x1="79.819" y1="40.59" x2="31.849" y2="40.59" />

              <line fill="none" stroke="#86dafb" stroke-width="0.69" stroke-miterlimit="10" x1="83.457" y1="47.086" x2="83.112" y2="47.086" />

              <line fill="none" stroke="#86dafb" stroke-width="0.69" stroke-miterlimit="10" stroke-dasharray="0.688,1.032" x1="82.081" y1="47.086" x2="29.306" y2="47.086" />
              <line fill="none" stroke="#86dafb" stroke-width="0.69" stroke-miterlimit="10" x1="81.026" y1="57.686" x2="80.68" y2="57.686" />

              <line fill="none" stroke="#86dafb" stroke-width="0.69" stroke-miterlimit="10" stroke-dasharray="0.693,1.039" x1="79.641" y1="57.686" x2="31.671" y2="57.686" />
              <line fill="none" stroke="#86dafb" stroke-width="0.69" stroke-miterlimit="10" x1="82.584" y1="68.05" x2="82.239" y2="68.05" />

              <line fill="none" stroke="#86dafb" stroke-width="0.69" stroke-miterlimit="10" stroke-dasharray="0.693,1.039" x1="81.2" y1="68.05" x2="33.23" y2="68.05" />
          </g>
          <g id="Vertical_f1">

              <line fill="none" stroke="#86dafb" stroke-width="0.69" stroke-miterlimit="10" stroke-dasharray="0.69,1.036" x1="43.552" y1="76.822" x2="43.552" y2="16.932" />

              <line fill="none" stroke="#86dafb" stroke-width="0.69" stroke-miterlimit="10" stroke-dasharray="0.69,1.036" x1="68.315" y1="76.822" x2="68.315" y2="16.932" />

              <line fill="none" stroke="#86dafb" stroke-width="0.69" stroke-miterlimit="10" stroke-dasharray="0.686,1.029" x1="55.933" y1="79.873" x2="55.933" y2="16.929" />
          </g>
      </g>
      <g id="Black_x5F_Lines">
          <line fill="none" stroke="#000000" stroke-width="1.699" stroke-miterlimit="10" x1="41.51" y1="40.864" x2="45.639" y2="40.864" />

          <line fill="none" stroke="#000000" stroke-width="1.699" stroke-miterlimit="10" x1="65.899" y1="40.864" x2="70.028" y2="40.864" />
          <path d="M43.575,45.867c-0.771,0-1.396,0.625-1.396,1.396s0.625,1.396,1.396,1.396s1.395-0.625,1.395-1.396
      S44.346,45.867,43.575,45.867" />
          <path d="M67.963,45.867c-0.771,0-1.396,0.625-1.396,1.396s0.625,1.396,1.396,1.396s1.395-0.625,1.395-1.396
      S68.735,45.867,67.963,45.867" />
          <polyline fill="none" stroke="#000000" stroke-width="1.699" stroke-miterlimit="10" points="54.774,45.215 51.396,57.701
      57.711,57.701 	" />
          <line fill="none" stroke="#000000" stroke-width="1.699" stroke-miterlimit="10" x1="52.28" y1="67.909" x2="59.257" y2="67.909" />
      </g>
  </svg>
</div>
