<div id="hands_human" class="svg-container">
	<svg version="1.1" id="Hands_x5F_human" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1023.151px" height="455.526px" viewBox="0 0 1023.151 455.526" enable-background="new 0 0 1023.151 455.526" xml:space="preserve">
			<g id="shine_x5F_hand">
					<rect x="510.075" fill="#FFFFFF" width="3" height="28.406" />

					<rect x="550.316" y="0" transform="matrix(0.7071 0.7071 -0.7071 0.7071 171.6663 -386.0323)" fill="#FFFFFF" width="3" height="28.406" />

					<rect x="457.132" y="12.704" transform="matrix(0.7071 0.7071 -0.7071 0.7071 148.0819 -329.113)" fill="#FFFFFF" width="28.408" height="3" />
					<rect x="510.075" y="327.286" fill="#FFFFFF" width="3" height="28.406" />

					<rect x="469.836" y="327.285" transform="matrix(0.7071 0.7071 -0.7071 0.7071 379.5201 -233.2651)" fill="#FFFFFF" width="3" height="28.407" />

					<rect x="537.613" y="339.989" transform="matrix(0.7071 0.7071 -0.7071 0.7071 403.092 -290.1727)" fill="#FFFFFF" width="28.406" height="3" />
			</g>
			<g id="left_x5F_hand">
					<path fill="#FAB88B" d="M276.081,238.21l47.902-58.731l-14.4-14.4l-53.317,53.316l-4.942-4.941l78.89-83.532l-15.948-15.948
			l-82.758,79.664l-4.942-4.942l86.61-91.252L298.001,82.27L206.75,168.88l-4.942-4.942l78.89-83.532l-15.373-15.373l-83.332,79.089
			l0,0l-34.695,34.694v-3.021c0-21.452-8.521-42.026-23.69-57.195h-11.623v95.531l-0.092,0.092v21.612l83.282,83.282L276.081,238.21
			L276.081,238.21z" />

					<rect x="38.493" y="254.219" transform="matrix(0.7071 0.7071 -0.7071 0.7071 264.1445 28.5689)" fill="#FFFFFF" width="118.187" height="157.829" />

					<rect x="81.567" y="272.061" transform="matrix(0.7071 0.7071 -0.7071 0.7071 246.3029 -14.5052)" fill="#79F2EC" width="118.187" height="35.998" />
					<circle cx="169.288" cy="318.688" r="8.315" />
					<circle cx="152.66" cy="302.059" r="8.314" />
					<rect x="61.036" y="307.482" transform="matrix(0.7071 0.7071 -0.7071 0.7071 253.8645 5.0833)" width="119.52" height="3" />
					<rect x="225.472" y="112.991" transform="matrix(0.7071 0.7071 -0.7071 0.7071 148.7316 -130.1026)" width="11.896" height="3" />
					<rect x="220.234" y="118.229" transform="matrix(0.7071 0.7071 -0.7071 0.7071 150.9084 -124.8671)" width="11.897" height="3" />
					<rect x="274.133" y="161.652" transform="matrix(0.7071 0.7071 -0.7071 0.7071 197.3996 -150.2611)" width="11.897" height="3" />
					<rect x="268.895" y="166.89" transform="matrix(0.7071 0.7071 -0.7071 0.7071 199.5693 -145.0231)" width="11.896" height="3" />
					<rect x="284.04" y="199.253" transform="matrix(0.7071 0.7071 -0.7071 0.7071 226.8894 -146.2531)" width="11.897" height="3" />
					<rect x="278.802" y="204.491" transform="matrix(0.7071 0.7071 -0.7071 0.7071 229.0588 -141.0154)" width="11.897" height="3" />
					<rect x="258.164" y="130.574" transform="matrix(0.7071 0.7071 -0.7071 0.7071 170.7469 -148.0721)" width="11.897" height="3" />
					<rect x="252.926" y="135.812" transform="matrix(0.7071 0.7071 -0.7071 0.7071 172.9165 -142.8343)" width="11.897" height="3" />
					<rect x="185" y="212.67" transform="matrix(0.7071 0.7071 -0.7071 0.7071 212.4093 -66.519)" width="3" height="20.943" />
					<rect x="191.295" y="218.965" transform="matrix(0.7071 0.7071 -0.7071 0.7071 218.7042 -69.1265)" width="3" height="20.943" />
					<rect x="197.59" y="225.26" transform="matrix(0.7071 0.7071 -0.7071 0.7071 224.9991 -71.7339)" width="3" height="20.943" />
					<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="304.0747" x2="117.8149" y2="304.0747">
							<stop offset="0" style="stop-color:#79F2EC;stop-opacity:0" />
							<stop offset="1" style="stop-color:#000000" />
					</linearGradient>
					<polygon opacity="0.19" fill="url(#SVGID_1_)" points="117.815,292.668 0,347.149 86.148,261.001 	" />
					<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="111.8916" y1="275.0884" x2="199.0898" y2="275.0884">
							<stop offset="0" style="stop-color:#FAB88B;stop-opacity:0" />
							<stop offset="1" style="stop-color:#FAB88B" />
					</linearGradient>
					<path opacity="0.4" fill="url(#SVGID_2_)" d="M199.09,295.958c0-35.605-28.864-64.47-64.47-64.47
			c-8.002,0-15.659,1.469-22.729,4.134l83.065,83.065C197.621,311.618,199.09,303.961,199.09,295.958z" />
			</g>
			<g id="right_x5F_hand">
					<path fill="#FAB88B" d="M743.071,217.381l-47.902-58.732l14.4-14.4l53.317,53.317l4.942-4.942l-78.89-83.532l15.947-15.947
			l82.758,79.664l4.942-4.942l-86.61-91.252L721.15,61.44l91.252,86.61l4.942-4.942l-78.891-83.531l15.373-15.374l83.333,79.089l0,0
			l34.694,34.694v-3.021c-0.001-21.453,8.521-42.026,23.69-57.195h11.623v95.53l0.093,0.092v21.613l-83.282,83.281L743.071,217.381
			L743.071,217.381z" />

					<rect x="861.973" y="232.891" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 1792.8411 -119.0018)" fill="#FAB88B" width="118.187" height="157.83" />

					<rect x="884.564" y="286.727" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 1847.3813 -96.4102)" fill="#79F2EC" width="118.187" height="95.341" />
					<path opacity="0.4" fill="#FAB88B" d="M841.326,166.959c12.858,13.332,12.721,34.559-0.432,47.71
			c-13.151,13.151-34.378,13.29-47.71,0.432L841.326,166.959z" />
					<path opacity="0.31" fill="#FAB88B" d="M789.361,79.925c4.274,4.433,4.229,11.49-0.144,15.863
			c-4.373,4.373-11.431,4.418-15.863,0.143L789.361,79.925z" />
					<path opacity="0.31" fill="#FAB88B" d="M740.323,128.963c4.274,4.433,4.229,11.49-0.144,15.863
			c-4.373,4.373-11.431,4.418-15.863,0.143L740.323,128.963z" />
					<path opacity="0.31" fill="#FAB88B" d="M730.738,166.187c4.275,4.433,4.229,11.491-0.144,15.863
			c-4.373,4.373-11.431,4.419-15.863,0.144L730.738,166.187z" />
					<path opacity="0.31" fill="#FAB88B" d="M759.047,98.648c4.274,4.433,4.229,11.49-0.144,15.863
			c-4.373,4.373-11.431,4.418-15.863,0.143L759.047,98.648z" />

					<rect x="845.781" y="288.436" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 1753.7454 -135.2037)" fill="#FFFFFF" width="118.187" height="14.356" />
					<polygon opacity="0.4" fill="#FAB88B" points="907.549,214.717 907.823,282.513 941.584,248.752 	" />

					<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="143.3276" y1="641.1899" x2="191.0728" y2="641.1899" gradientTransform="matrix(-0.7071 0.7071 0.7071 0.7071 633.1556 -262.3698)">
							<stop offset="0" style="stop-color:#79F2EC;stop-opacity:0" />
							<stop offset="1" style="stop-color:#000000" />
					</linearGradient>
					<polygon opacity="0.19" fill="url(#SVGID_3_)" points="984.893,359.583 1018.653,325.822 951.735,258.904 917.975,292.665 	" />
					<path d="M866.556,237.804c-8.531-11.509-13.04-25.188-13.04-39.557c0-15.853,5.671-31.206,15.969-43.23l2.279,1.951
			c-9.833,11.482-15.248,26.142-15.248,41.279c0,13.721,4.306,26.781,12.45,37.77L866.556,237.804z" />
			</g>
	</svg>

</div>
