<div class="svg-container">
	<svg version="1.1" id="icon_x5F_touch" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
		 y="0px" viewBox="0 0 155.8 241.8" style="enable-background:new 0 0 155.8 241.8;" xml:space="preserve">
		<style type="text/css">
			.st0{fill:#FFFFFF;}
			.st1{fill:#79F1EB;}
		</style>
		<g id="hand_1_">
			<path id="hand" class="st0" d="M141,113.8c-3.4,0-6.6,1-9.2,2.9c-2.1-5.8-7.5-10.1-13.9-10.2c-3.4,0-6.6,1-9.3,3
				c-2.1-5.7-7.7-9.8-14.1-9.8c-3,0-5.7,0.9-8.1,2.3V57.5c0-7.9-6.4-14.2-14.2-14.2c-7.6,0-13.9,6-14.2,13.6l-5,113.8l-17-15.5
				c-8.4-7.9-21.5-7.6-29.6,0.5L0,162l67.6,75.8l1.2,0.2c13.8,2.5,24.7,3.7,35.4,3.7c10.8,0,21.4-1.2,34.9-3.7l2.2-0.4l5.2-21.5
				c6.1-25.1,9.2-50.9,9.2-76.7v-10.6C155.8,120.7,149.1,114,141,113.8z M148.8,139.5c0,25.2-3,50.5-9,75l-4.1,17.1
				c-24.5,4.4-38.9,4.3-64.4-0.2L9.6,162.3l1.7-1.7c5.5-5.5,14.2-5.6,19.9-0.3l28.1,25.6l5.7-128.8c0.2-3.9,3.4-6.9,7.2-6.9
				c4,0,7.2,3.2,7.2,7.2v57.2v21.1h7v-21.1c0-4.4,3.6-8.1,8.1-8.1c4.4,0,8.1,3.6,8.1,8.1v6.9v14.2h7v-14.2c0-2.2,0.9-4.2,2.4-5.7
				c1.6-1.5,3.6-2.3,5.8-2.3c4.4,0.1,7.9,3.9,7.9,8.4v5.4v1.5v7h7v-7c0-2.2,0.9-4.2,2.4-5.7c1.6-1.5,3.6-2.3,5.8-2.3
				c4.4,0.1,7.9,3.7,7.9,8.1V139.5z"/>
		</g>
		<g id="line_x5F_1_1_">
			<path id="line_x5F_1" class="st1" d="M43.2,63.4c-1.9-4.2-2.9-8.7-2.9-13.3c0-17.6,14.3-31.8,31.8-31.8c17.6,0,31.8,14.3,31.8,31.8
				c0,4.6-1,9.1-2.9,13.3l-6.4-2.9c1.5-3.3,2.3-6.8,2.3-10.4c0-13.7-11.1-24.8-24.8-24.8c-13.7,0-24.8,11.1-24.8,24.8
				c0,3.6,0.8,7.1,2.3,10.4L43.2,63.4z"/>
		</g>
		<g id="Line_x5F_2">
			<path id="line_x5F_2" class="st1" d="M106.5,86.7l-4.8-5.1c8.8-8.3,13.6-19.4,13.6-31.5C115.3,26.4,96,7,72.2,7
				C48.4,7,29,26.4,29,50.1c0,12,4.8,23.2,13.6,31.5l-4.8,5.1C27.8,77.3,22,63.9,22,50.1C22,22.5,44.5,0,72.2,0
				c27.6,0,50.1,22.5,50.1,50.1C122.3,63.9,116.5,77.3,106.5,86.7z"/>
		</g>
	</svg>

</div>
