<div id="irisIcon" class="svg-container">
	<svg version="1.1" id="Iris_x5F_SVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 213.3 213.4" style="enable-background:new 0 0 213.3 213.4;" xml:space="preserve">
			<style type="text/css">
					.st0 {
							fill: #4CA0FF;
					}

					.st1 {
							fill: #FFFFFF;
					}
			</style>
			<g id="blue_corner">
					<g>
							<polygon class="st0" points="7,58.6 0,58.6 0,0 58.6,0 58.6,7 7,7 		" />
					</g>
					<g>
							<polygon class="st0" points="213.3,213.3 154.7,213.3 154.7,206.3 206.3,206.3 206.3,154.7 213.3,154.7 		" />
					</g>
			</g>
			<g id="white_corner">
					<polygon class="st1" points="58.6,213.4 0,213.4 0,154.8 7,154.8 7,206.4 58.6,206.4 	" />
					<polygon class="st1" points="213.3,58.6 206.3,58.6 206.3,7 154.7,7 154.7,0 213.3,0 	" />
			</g>
			<g id="Iris">
					<g>
							<path class="st1" d="M108.1,168.2c-35.3,0-64-28.7-64-64c0-35.3,28.7-64,64-64c35.3,0,64,28.7,64,64
							C172.1,139.5,143.4,168.2,108.1,168.2z M108.1,47.2c-31.4,0-57,25.6-57,57c0,31.4,25.6,57,57,57s57-25.6,57-57
							C165.1,72.8,139.6,47.2,108.1,47.2z" />
					</g>
					<g>
							<path class="st0" d="M108.1,129.6c-14,0-25.4-11.4-25.4-25.4c0-14,11.4-25.4,25.4-25.4s25.4,11.4,25.4,25.4
							C133.5,118.2,122.1,129.6,108.1,129.6z M108.1,85.8c-10.1,0-18.4,8.2-18.4,18.4s8.2,18.4,18.4,18.4c10.1,0,18.4-8.2,18.4-18.4
							S118.3,85.8,108.1,85.8z" />
					</g>
					<g>
							<rect x="104.6" y="43.7" class="st1" width="7" height="16.2" />
					</g>
					<g>
							<rect x="91.1" y="45.5" transform="matrix(0.9659 -0.2588 0.2588 0.9659 -10.646 26.303)" class="st1" width="7" height="16.2" />
					</g>
					<g>
							<rect x="78.4" y="50.7" transform="matrix(0.866 -0.5 0.5 0.866 -18.4318 48.8425)" class="st1" width="7" height="16.2" />
					</g>
					<g>
							<rect x="67.6" y="59" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -26.6609 69.9209)" class="st1" width="7" height="16.2" />
					</g>
					<g>
							<rect x="59.2" y="69.9" transform="matrix(0.5 -0.866 0.866 0.5 -36.1741 93.3401)" class="st1" width="7" height="16.2" />
					</g>
					<g>
							<rect x="54" y="82.5" transform="matrix(0.2588 -0.9659 0.9659 0.2588 -44.921 122.7309)" class="st1" width="7" height="16.2" />
					</g>
					<g>
							<rect x="47.6" y="100.7" class="st1" width="16.2" height="7" />
					</g>
					<g>

							<rect x="49.4" y="114.3" transform="matrix(0.9659 -0.2588 0.2588 0.9659 -28.5155 18.8942)" class="st1" width="16.2" height="7" />
					</g>
					<g>
							<rect x="54.6" y="126.9" transform="matrix(0.866 -0.5 0.5 0.866 -56.7923 48.841)" class="st1" width="16.2" height="7" />
					</g>
					<g>
							<rect x="63" y="137.8" transform="matrix(0.707 -0.7072 0.7072 0.707 -79.0697 91.645)" class="st1" width="16.2" height="7" />
					</g>
					<g>
							<rect x="73.8" y="146.1" transform="matrix(0.5 -0.866 0.866 0.5 -88.5783 145.7469)" class="st1" width="16.2" height="7" />
					</g>
					<g>

							<rect x="86.5" y="151.3" transform="matrix(0.2589 -0.9659 0.9659 0.2589 -79.4561 206.0751)" class="st1" width="16.2" height="7" />
					</g>
					<g>
							<rect x="104.6" y="148.5" class="st1" width="7" height="16.2" />
					</g>
					<g>

							<rect x="118.2" y="146.7" transform="matrix(0.9659 -0.2589 0.2589 0.9659 -35.927 36.7769)" class="st1" width="7" height="16.2" />
					</g>
					<g>
							<rect x="130.8" y="141.5" transform="matrix(0.866 -0.5 0.5 0.866 -56.7951 87.2086)" class="st1" width="7" height="16.2" />
					</g>
					<g>

							<rect x="141.7" y="133.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -57.3583 144.0258)" class="st1" width="7" height="16.2" />
					</g>
					<g>
							<rect x="150" y="122.3" transform="matrix(0.5 -0.866 0.866 0.5 -36.1754 198.1441)" class="st1" width="7" height="16.2" />
					</g>
					<g>

							<rect x="155.2" y="109.7" transform="matrix(0.2588 -0.9659 0.9659 0.2588 3.9123 240.6229)" class="st1" width="7" height="16.2" />
					</g>
					<g>
							<rect x="152.4" y="100.7" class="st1" width="16.2" height="7" />
					</g>
					<g>

							<rect x="150.6" y="87.1" transform="matrix(0.9659 -0.2589 0.2589 0.9659 -18.0537 44.1926)" class="st1" width="16.2" height="7" />
					</g>
					<g>
							<rect x="145.4" y="74.5" transform="matrix(0.866 -0.5 0.5 0.866 -18.4321 87.202)" class="st1" width="16.2" height="7" />
					</g>
					<g>

							<rect x="137.1" y="63.6" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -4.955 122.3259)" class="st1" width="16.2" height="7" />
					</g>
					<g>
							<rect x="126.2" y="55.3" transform="matrix(0.5 -0.866 0.866 0.5 16.2313 145.7455)" class="st1" width="16.2" height="7" />
					</g>
					<g>

							<rect x="113.6" y="50.1" transform="matrix(0.2589 -0.9659 0.9659 0.2589 38.4308 157.2516)" class="st1" width="16.2" height="7" />
					</g>
					<g>
							<path class="st1" d="M108.1,168.2c-20.4,0-39.7-9.8-51.7-26.3l5.7-4.1c10.7,14.7,27.9,23.4,46.1,23.4s35.4-8.8,46.1-23.4l5.7,4.1
							C147.8,158.4,128.5,168.2,108.1,168.2z" />
					</g>
			</g>
	</svg>
</div>
