<div id="touchIcon" class="svg-container">
	<svg version="1.1" id="Finger_x5F_id" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
		 y="0px" viewBox="0 0 360 425" style="enable-background:new 0 0 360 425;" xml:space="preserve">
			<style type="text/css">
				.st0{fill:#79F1EB;}
				.st1{fill:#FFFFFF;}
			</style>
			<g id="Aqua_x5F_Lines">
				<g>
					<path fill="#79F1EB" d="M90.6,192.6h-7v-32.9c0-48,35.8-89,83.2-95.5l0.9,6.9c-44,6-77.2,44.1-77.2,88.6V192.6z"/>
				</g>
				<g>
					<path fill="#79F1EB" d="M257.8,225.3h-7v-65.6c0-16.7-6-33-16.8-45.8l5.3-4.5c11.9,14,18.5,31.9,18.5,50.3V225.3z"/>
				</g>
				<g>
					<path fill="#79F1EB" d="M269,268.5h-9.1c-22.1,0-41.3-15.8-45.5-37.5l6.9-1.3c3.6,18.4,19.8,31.8,38.6,31.8h9.1V268.5z"/>
				</g>
				<g>
					<rect x="98.9" y="280.1" fill="#79F1EB" width="11.5" height="7"/>
				</g>
				<g>
					<path fill="#79F1EB" d="M121.9,231.3v-7c19.9,0,36-16.1,36-36l0-0.1l0.1-2.2v-26.2c0-12.2,9.9-22,22-22c12.2,0,22,9.9,22,22v16.9h-7
						v-16.9c0-8.3-6.7-15-15-15s-15,6.7-15,15l0,26.4l-0.1,2.2C164.8,212,145.5,231.3,121.9,231.3z"/>
				</g>
				<g>
					<path fill="#79F1EB" d="M133.4,305.8h-20.7v-7h20.7c7.2,0,14.5-1.6,21.1-4.7c8-3.8,16.6-5.7,25.4-5.7c8.9,0,17.4,1.9,25.4,5.6
						c2.3,1.1,4.6,1.9,6.9,2.6l-2,6.7c-2.7-0.8-5.3-1.8-7.9-3c-7-3.3-14.6-5-22.4-5c-7.9,0-15.4,1.7-22.5,5
						C150,303.9,141.7,305.8,133.4,305.8z"/>
				</g>
			</g>
			<g id="White_x5F_Lines">
				<rect x="269.4" y="171.5" class="st1" width="7" height="58.9"/>
				<path class="st1" d="M269.4,159.7h7c0-53.2-43.2-96.4-96.4-96.4v7C229.3,70.3,269.4,110.4,269.4,159.7z"/>
				<path class="st1" d="M167.2,326.7l-1,6.9c4.5,0.6,9.1,1,13.7,1c4.9,0,9.7-0.4,14.5-1.1l-1-6.9C184.9,327.9,175.9,328,167.2,326.7z"
					/>
				<path class="st1" d="M180,88.9c16.4,0,32.4,5.7,45,16.2l4.5-5.4C215.6,88.2,198,81.9,180,81.9c-25.9,0-50,12.8-64.5,34.3l5.8,3.9
					C134.5,100.5,156.5,88.9,180,88.9z"/>
				<path class="st1" d="M109.2,159.7c0-10,2.1-19.7,6.1-28.8l-6.4-2.9c-4.5,10-6.7,20.6-6.7,31.6v32.9h7V159.7z"/>
				<rect x="232.2" y="172.3" class="st1" width="7" height="38.4"/>
				<path class="st1" d="M239.2,159.7c0-32.7-26.6-59.2-59.2-59.2c-32.7,0-59.2,26.6-59.2,59.2v32.9h7v-32.9
					c0-28.8,23.4-52.2,52.2-52.2c28.8,0,52.2,23.4,52.2,52.2v0.9h7V159.7z"/>
				<path class="st1" d="M183.5,188.3v-24.8h-7v24.8h0c0,13.3-4.8,26.1-13.6,36l5.3,4.6C178,217.7,183.5,203.2,183.5,188.3L183.5,188.3
					z"/>
				<path class="st1" d="M211.7,254.2l-5.8,3.9c6.3,9.5,14.9,17,24.7,22c-7,0-13.8-1.4-20.3-4.2c-9.6-4.1-19.8-6.1-30.3-6.1
					c-0.8,0-1.7,0-2.5,0.1c26-17.8,43.2-47.7,43.2-81.6v-28.6c0-22.4-18.2-40.6-40.6-40.6c-6.6,0-13.2,1.6-19,4.7l3.3,6.2
					c4.8-2.6,10.2-3.9,15.7-3.9c18.5,0,33.6,15.1,33.6,33.6v28.6c0,50.6-41.2,91.8-91.8,91.8v7c12.6,0,24.6-2.4,35.7-6.7l0,0.1
					c7.2-2.4,14.8-3.6,22.4-3.6c9.6,0,18.9,1.9,27.6,5.6c7.4,3.1,15.2,4.7,23.1,4.7l29.3,0c0,0,0,0,0,0v0l1.1,0v-7l-1.1,0
					C240.5,280.1,222.5,270.4,211.7,254.2z"/>
				<path class="st1" d="M239.2,222.2h-7c0,15.3,12.4,27.7,27.7,27.7h12.9v-7h-12.9C248.5,242.9,239.2,233.6,239.2,222.2z"/>
				<path class="st1" d="M124.3,268.4L124.3,268.4c43.1-1.3,77.8-36.8,77.8-80.2h-7c0,40.4-32.8,73.2-73.2,73.2H93.5v7H124.3z"/>
				<path class="st1" d="M199,311.6c-5.9-3-12.5-4.7-19.1-4.7c-6.6,0-13.2,1.6-19.1,4.7c-7.1,3.7-15,5.6-22.9,5.6h-0.2v7h0.2
					c9,0,18.1-2.2,26.2-6.4c4.9-2.6,10.3-3.9,15.8-3.9c5.6,0,10.9,1.3,15.8,3.9c8.2,4.3,17,6.4,26.2,6.4h0.7v-7H222
					C213.9,317.3,206.2,315.4,199,311.6z"/>
				<path class="st1" d="M146.3,188.3L146.3,188.3l0.1-28.6c0-8.4,3.1-16.5,8.9-22.7l-5.2-4.7c-6.9,7.5-10.7,17.3-10.7,27.5v28.6h-0.1
					c0,9.6-7.8,17.4-17.4,17.4H87.1v7h34.8C135.3,212.7,146.3,201.7,146.3,188.3z"/>
				<path class="st1" d="M124.3,249.8L124.3,249.8c12.5-0.5,24.3-4.7,34.4-12.3l-4.2-5.6c-9.5,7.1-20.8,10.9-32.6,10.9H87.1v7H124.3z"
					/>
				<rect x="87.1" y="224.3" class="st1" width="22.9" height="7"/>
				<path class="st1" d="M223.7,298.6l-0.4,7c1,0.1,2.1,0.1,3.1,0.1h21.5v-7h-21.5C225.5,298.7,224.6,298.7,223.7,298.6z"/>
			</g>
	</svg>
	<figcaption>Fingerprint matching focuses on the shape, endings and bifurcations of the ridges.</figcaption>
</div>
