<div id="touch_sensitivity" class="svg-container">
	<svg version="1.1" id="icon_x5F_touch" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
		 y="0px" width="612px" height="889.5px" viewBox="0 -97.5 612 889.5" enable-background="new 0 -97.5 612 889.5"
		 xml:space="preserve">
	<g id="hand_1_">
		<path id="hand" fill="#FFFFFF" d="M512.68,372.745c-11.137,0-21.617,3.275-30.134,9.499c-6.878-18.998-24.565-33.082-45.528-33.409
			c-11.137,0-21.618,3.275-30.462,9.826c-6.878-18.67-25.221-32.099-46.184-32.099c-9.826,0-18.67,2.948-26.531,7.533V188.337
			c0-25.876-20.962-46.511-46.511-46.511c-24.894,0-45.529,19.653-46.511,44.546l-16.377,372.744l-55.683-50.769
			c-27.514-25.876-70.422-24.894-96.953,1.638L50.844,530.62l221.419,248.278l3.93,0.655c45.201,8.188,80.903,12.119,115.95,12.119
			c35.375,0,70.095-3.931,114.313-12.119l7.205-1.311l17.032-70.422c19.98-82.213,30.135-166.72,30.135-251.226v-34.72
			C561.156,395.345,539.211,373.399,512.68,372.745z M538.229,456.923c0,82.541-9.826,165.409-29.479,245.658l-13.429,56.01
			c-80.248,14.412-127.415,14.084-210.938-0.655L82.288,531.603l5.568-5.567c18.015-18.016,46.511-18.343,65.181-0.983l92.04,83.852
			l18.67-421.876c0.655-12.774,11.136-22.601,23.583-22.601c13.102,0,23.583,10.481,23.583,23.583v187.355v69.112h22.928v-69.112
			c0-14.412,11.792-26.531,26.531-26.531c14.412,0,26.531,11.792,26.531,26.531v22.6v46.512h22.928v-46.512
			c0-7.206,2.948-13.756,7.861-18.669c5.24-4.913,11.791-7.534,18.997-7.534c14.412,0.328,25.876,12.774,25.876,27.514v17.688v4.913
			v22.928h22.929v-22.928c0-7.206,2.947-13.757,7.86-18.67c5.241-4.913,11.792-7.534,18.998-7.534
			c14.412,0.328,25.876,12.12,25.876,26.531V456.923z"/>
	</g>
	<g id="hand_elem_1">
		<path id="line_x5F_1" fill="#79F1EB" d="M192.342,207.663c-6.223-13.757-9.499-28.497-9.499-43.563
			c0-57.647,46.839-104.159,104.159-104.159c57.648,0,104.159,46.839,104.159,104.159c0,15.067-3.275,29.807-9.499,43.563
			l-20.963-9.499c4.914-10.809,7.534-22.273,7.534-34.064c0-44.874-36.357-81.23-81.231-81.23s-81.231,36.357-81.231,81.23
			c0,11.792,2.621,23.256,7.534,34.064L192.342,207.663z"/>
	</g>
	<g id="hand_elem_2">
		<path id="line_x5F_2" fill="#79F1EB" d="M399.678,283.98l-15.723-16.705c28.824-27.186,44.546-63.543,44.546-103.176
			c0-77.627-63.216-141.171-141.171-141.171c-77.956,0-141.499,63.543-141.499,141.171c0,39.305,15.722,75.99,44.546,103.176
			l-15.722,16.705c-32.754-30.789-51.752-74.68-51.752-119.881C122.903,73.697,196.601,0,287.33,0
			c90.402,0,164.1,73.697,164.1,164.099C451.43,209.3,432.432,253.191,399.678,283.98z"/>
	</g>
	</svg>

</div>
