// Breakpoints
$mobile: 320px; // 320px
$mobile-landscape: 480px; // 480px
$tablet-wide: 768px; // 768px
$desktop-wide: 1220px; // 768px

#shine_x5F_hand{opacity: 0;}

#hand_elem_1, #hand_elem_2, #heart_elem_1, #heart_elem_2{
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

// Making the Eye
.toBeMasked{
    -webkit-clip-path: inset(0% 0 0% 0%);
    clip-path: inset(0% 0 0% 0%);

}

#eye_svg_master{
  padding: 5px;
}

// Hunter
#hunter{

    #Arm_x5F_2{
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    #Signal_x5F_1_start, #Signal_x5F_2, #Signal_x5F_3{opacity: 0;}
}

#explorer_man{
    #man_explorer_move{
        // -webkit-transform: translate3d(0,70px,0);
        // -moz-transform: translate3d(0,70px,0);
        // -o-transform: translate3d(0,70px,0);
        // -ms-transform: translate3d(0,70px,0);
        // transform: translate3d(0,70px,0);
    }
}

//Ship Sonar
#ship_sonar{

    #Right_1{ stroke-dasharray:51; stroke-dashoffset:-51;}
    #Left_1{ stroke-dasharray:51; stroke-dashoffset:51; }

    #Right_2{ stroke-dasharray:70; stroke-dashoffset:-70;}
    #Left_2{ stroke-dasharray:70; stroke-dashoffset:70; }

    #Right_3{ stroke-dasharray:100; stroke-dashoffset:100;}
    #Left_3{ stroke-dasharray:100; stroke-dashoffset:-100; }

    #Right_4{ stroke-dasharray:130; stroke-dashoffset:130;}
    #Left_4{ stroke-dasharray:130; stroke-dashoffset:-130; }
}

#face1_wrapper{
    cursor: pointer;
    #Horizontal_f1, #Vertical_f1{opacity: 0;}
}

#face2_wrapper{
    cursor: pointer;
    #curve_lines_f2, #Smile_x5F_Face{opacity: 0;}
}

#face3_wrapper{
    cursor: pointer;
    #Black_x5F_dots, #Blue_x5F_Dots{opacity: 0;}
}

#face4_wrapper{
    cursor: pointer;
}
